.img-fluid{
	max-width: 100%;
}

.perfil h3, 
.perfil p{
	margin: 0;
}

.perfil h3{
	font-size: 16px;
	color: #333;
}

.perfil p{
	font-size: 12px;
	color: #666;
}

.panel .list i{
	color: #474b5e;
	font-size: 20px !important;
}

.panel .list .item-title{
	font-size: 14px;
}

.p0{
	padding: 0 !important;
}

.m0{
	margin: 0 !important;
}

.cafetano h4{
	font-size: 20px;
	margin: 2px 0px;
}

.cafetano i{
	color: #f57c00;
	font-size: 12px;
}

.cafetano .color-gray{
	color: #787878;
}

.cafetano .lugar{
	font-size: 16px;
	font-weight:700;
	color:#272727;
}

.cafetano .horario{
	font-size: 16px;
}

.cafetano .divider{
	border-top: 1px solid #eee;
	padding: 10px 0px;
}

.cafetano .card-footer a{
	color: #6200ee !important;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
}